<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | <%= page %></title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/error.css">
    <%- include('./components/header') %>
</head>
<body>
    <%- include('./components/navbar') %>
    <div class="container">
        <div class="img">
            <img src="/img/404-error.png" width="250" alt="404"> <br /><br /><br />
            <h1>Page not found!</h1>
        </div>
    </div>
</body>
</html>